*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", serif;   
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.navbar h3{
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    margin-top: -7px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links ul a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.nav-icon i{
    margin-right: 20px;
    cursor: pointer;    
}
/* navbar */
/* banner */
/* .container{
    background-image: url(img/1\ 1.png); 
    4
    background-repeat: no-repeat;
    width: 100%;
    height: 745px;
} */

.banner{
    
}
/* banner */
/* PHOTO GALLARY */
  .photos{
   display: flex;
   justify-content: center;
   margin-top: 50px;
   margin-bottom: 50px;
  }

  .left-photos {
    
  }

  .bottom-photos {
   display: flex; 
   margin-top: 20px;
  }

  .b-right {
    margin-left: 25px;
  }

  .right-photos{
    margin-left: 30px;
  }

  .right-photos img{
    width: 552px;
    height: 574px;      
}
  

/* PHOTO GALLARY */

/* WOMEN’S FASHION */

.W-FASHION{
    margin-top: 90px;
}

.heading{
    text-align: center;
    margin-bottom: 30px;
}

.heading h3{
    font-size: 20px;
    font-weight: 700;
}

.heading p{
    font-size: 15px;
    font-weight: 400;
}

.w-items{
display: flex;
justify-content: center;

}

.card{
padding: 10px;
}

.card-img{
    margin-bottom: 30px;
}

.card h5{
     font-size: 15px;
     font-weight: 300;
}

.card p{
    font-size: 15px;
     font-weight: 400;
}

.card span{
    color: #CF2929;
    font-size: 15px;
     font-weight: 400;  
     margin-left: 25px;
}


/* WOMEN’S FASHION */

/* MEN’S FASHION */

.M-FASHION{
    margin-top: 90px;
    margin-bottom: 90px;
}

.heading{
    text-align: center;
    margin-bottom: 30px;
}

.heading h3{
    font-size: 20px;
    font-weight: 700;
}

.heading p{
    font-size: 15px;
    font-weight: 400;
}

.m-items{
display: flex;
justify-content: center;

}

.card{
padding: 10px;
}

.card-img{
    margin-bottom: 30px;
}

.card h5{
     font-size: 15px;
     font-weight: 300;
}

.card p{
    font-size: 15px;
     font-weight: 400;
}

.card span{
    color: #CF2929;
    font-size: 15px;
     font-weight: 400;  
     margin-left: 25px;
}


/* MEN’S FASHION */
/* AVONE STYLES */

.AVONE-STYLES{
display: flex;
justify-content: center;
gap: 30px;
}

.AVONE-TEXT{
margin-top: 90px;

}

.AVONE-TEXT a{
 text-decoration: none;
 color: black;   
 font-size: 15px;
 font-weight: 400;
 border-bottom: 5px black;
 
}

.left-img{

}

.bottom-img{
    margin-left: 220px;
    margin-top: -90px;
}

/* AVONE STYLES */
/* footer */

footer{
    display: flex;
    justify-content: space-between;
    padding: 100px
}


.f-left{
    
}

.f-left h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 17px;
}

.info{
    margin-top: 40px;
}

.info a{
    margin-top: 16px;
    
    color: black;   
    font-size: 15px;
    font-weight: 400;
  
}

.icons{
margin-top: 10px;
}

.f-right h3{
    margin-bottom: 24px;
}

.f-right input{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background: #FFF;
   padding: 10px;
  margin-bottom: 50px;
}
    
.f-right{
    display: flex;
    flex-direction: column;

}

nav a{
    display: block;
    text-decoration: none;
 color: black;   
 font-size: 15px;
 font-weight: 400;
}

.footer-link{
 margin-top: 140px;  
}


/* footer */